*{
    box-sizing: border-box;
}
.productspageContainer{
    border: 1px solid red;
    width: 100%;
    min-height: 90vh;
    background-image: url("./Images/productspagebackground.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}