*{
    box-sizing: border-box;
}
.productContainer{
    font-family: 'Josefin Sans', sans-serif;
    max-width: 300px;
    min-height: 400px;
    margin: 30px;
    padding-bottom: 15px;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productImage>img{
    max-width: 300px;
}
.productName>p{
    text-align: center;
}
.productDescription{
    margin: 0 10px;
}
.productButton>button{
    margin-bottom: 15px;
    border:none;
    border-radius: 2.5px;
    padding: 5px;
    /* background: #91189c; */
    background: white;
    color: black;
}
.productButton>button:hover{
    cursor: pointer;
    background: #bd3ec9;
}
.quantityContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.quantityContainer>button{
    font-size: 1rem;
    font-weight: 600;
    width: 30px;
    height: 30px;
}
.quantityContainer>button:hover{
    cursor: pointer;
}

@media only screen and (max-width:300px) {
    .productImage>img{
        max-width: 250px;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 2880px){
    .productContainer{
        max-width: 450px;
        min-height: 600px;
    }
    .productImage>img{
        max-width: 450px;
    }
    .productButton>button{
        padding: 7.5px;
        margin-bottom: 20px;
    }
    .quantityContainer>button{
        font-size: 1.25rem;
        width: 45px;
        height: 45px;
    }
}

@media only screen and (min-width: 2881px){
    .productContainer{
        max-width: 600px;
        min-height: 800px;
    }
    .productImage>img{
        max-width: 600px;
    }
    .productButton>button{
        padding: 10px;
        margin-bottom: 25px;
    }
    .quantityContainer>button{
        font-size: 1.5rem;
        width: 60px;
        height: 60px;
    }
}